@tailwind base;
@tailwind components;
@tailwind utilities;

/*APP - PANTALLA PRINCIPAL*/
.App{
    background-color: #F3F3F7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*TEXTO - COLOR*/
.texto-white{
    color: #F3F3F7;
}
.texto-blue{
    color: #6666E1;
}
.texto-orange{
    color: #D68A71;
}

/*TEXTO - TAMAÑO*/
.texto-normal{
    font-size: calc(6px + 1.5vmin);
    font-family: 'Roboto Condensed', sans-serif;
}
.texto-titulo{
    font-size: calc(12px + 1.5vmin);
    font-family: 'Roboto Condensed', sans-serif;
}
.texto-subtitulo{
    font-size: calc(10px + 1.5vmin);
    font-family: 'Roboto Condensed', sans-serif;
}
.texto-icon{
    font-size: calc(15px + 1.5vmin);
    font-family: 'Roboto Condensed', sans-serif;
}

/*FONDOS*/
.fondo-white{
    background-color: #F3F3F7;
}
.fondo-blue{
    background-color: #6666E1;
}
.fondo-orange{
    background-color: #D68A71;
}

/*BORDES*/
.borde-white{
    border-color: #F3F3F7;
}
.borde-blue{
    border-color: #6666E1;
}
.borde-orange{
    border-color: #D68A71;
}

/*HOVERS*/
.hover-blue:hover{
    background-color: #D68A71;
    color: #F3F3F7;
    transition: 200ms ease-in-out;

}
.hover-blue:not(:hover){
background-color: #6666E1;
color: #F3F3F7;
transition: 200ms ease-in-out;
}

.hover-text-blue:hover{
    color: #D68A71;
    transition: 200ms ease-in-out;

}
.hover-text-blue:not(:hover){
    color: #F3F3F7;
    transition: 200ms ease-in-out;
}