@tailwind base;
@tailwind components;
@tailwind utilities;

/*APP - PANTALLA PRINCIPAL*/
.App{
    background-color: #F3F3F7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*TEXTO - COLOR*/
.texto-white{
    color: #F3F3F7;
}
.texto-blue{
    color: #7777E4;
}
.texto-dark{
    color: #11417E;
}

/*TEXTO - TAMAÑO*/
.texto-normal{
    font-size: calc(6px + 1.5vmin);
    font-family: 'Roboto Condensed', sans-serif;
}
.texto-titulo{
    font-size: calc(12px + 1.5vmin);
    font-family: 'Roboto Condensed', sans-serif;
}
.texto-subtitulo{
    font-size: calc(10px + 1.5vmin);
    font-family: 'Roboto Condensed', sans-serif;
}
.texto-icon{
    font-size: calc(15px + 1.5vmin);
    font-family: 'Roboto Condensed', sans-serif;
}

/*FONDOS*/
.fondo-white{
    background-color: #F3F3F7;
}
.fondo-blue{
    background-color: #7777E4;
}
.fondo-dark{
    background-color: #11417E;
}

/*BORDES*/
.borde-white{
    border-color: #F3F3F7;
}
.borde-blue{
    border-color: #7777E4;
}
.borde-dark{
    border-color: #11417E;
}

/*HOVERS*/
.hover-blue:hover{
    background-color: #11417E;
    color: #F3F3F7;
    transition: 200ms ease-in-out;

}
.hover-blue:not(:hover){
background-color: #7777E4;
color: #F3F3F7;
transition: 200ms ease-in-out;
}

.hover-text-blue:hover{
    color: #11417E;
    transition: 200ms ease-in-out;

}
.hover-text-blue:not(:hover){
    color: #F3F3F7;
    transition: 200ms ease-in-out;
}

/*TRANSPARENCIA*/

.fondo-dark{

}

.fondo-blue2{
    background-color: rgb(119, 119, 228, 0.3);
  }
